@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@700&display=swap');


/* font-family: 'Poppins', sans-serif; */
/* font-family: "Playfair Display", serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}