@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Poppins', sans-serif; */
/* font-family: "Playfair Display", serif; */

/* //navbar css */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  /* if some browser dont support then alternative is just below */
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0px solid gray !important;
}

.navbar-nav {
  text-align: right;
  margin: auto;
}

.nav-link {
  font-weight: 30 !important;
  margin-right: 2rem;
  font-size: medium;
  /* !important overrides existing class */
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}

/* =============== footer ===================== */

.footer {
  color: white;
  padding: 25px;
  background: rgb(39, 39, 99);
  background: linear-gradient(
    90deg,
    rgba(39, 39, 99, 1) 0%,
    rgba(127, 127, 135, 0.8688725490196079) 0%,
    rgba(21, 21, 102, 1) 0%,
    rgba(54, 50, 50, 1) 0%,
    rgba(32, 38, 39, 1) 100%
  );
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #b4ae9b;
}

/* =============== page not found ===================== */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700px;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}

.button-no-border {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}


/* =============== register page ===================== */
/* .register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
} */
